.menu {
    text-align: right;
}

.menu__links-item {
    display: inline-block;
    color: #333;
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    width: 100%;
    height: 9px;
    background: #333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}

@media screen and (max-width: 999px) {
    .menu__icon {
        display: inline-block;
    }

    .menu__links {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 55px;
        background-color: rgba(0,0,0,0.8);
        z-index: 1000;
        overflow: auto;
    }

    .menu__links-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #fff;
    }
}


.wrap {
    text-align: center;
    padding: 150px 0;
}

/* мобилки*/
 @media (min-width:320px) {
    .wrap_title {
        font-size: 25px;
    }
 }

 /* мобилки (альбомная ориентация)*/
  @media (min-width:481px) {
    .wrap_title {
        font-size: 35px;
    }
 }

 /* небольшие планшеты*/
   @media (min-width:601px) {
    .wrap_title {
        font-size: 45px;
    }
 }

 /* плншеты (портретная ориентация)*/
   @media (min-width:768px) {
    .wrap_title {
        font-size: 55px;
    }
 }

  /* плншеты (альбомная ориентация)*/
   @media (min-width:1024px) {
    .wrap_title {
        font-size: 75px;
    }
 }

  /* ПК */
   @media (min-width:1280px) {
    .wrap_title {
        font-size: 105px;
    }
 }